.dialog {
    --background-color: hsl(0deg, 0%, 100%);
    --background-color-2: hsl(0deg, 0%, 98%);
    --background-color-dialog: hsla(0deg, 0%, 0%, 0.5);

    --text-color-inactive: hsl(0deg, 0%, 50%);
    --text-color: hsl(345deg, 6%, 13%);

    --shadow-color: hsl(0deg, 0%, 80%);
    --border-color: hsl(0deg, 0%, 90%);

    --positive-color: hsl(210deg, 100%, 50%);
    --negative-color: hsl(355deg, 80%, 60%);
    --positive-disabled-color: hsl(210deg, 100%, 80%);
    --negative-disabled-color: hsl(355deg, 80%, 80%);
}
